.home {
  display: flex;
  gap: 10vh;

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .start-button {
    font-size: 1.5em;
    padding: 0.5em 1em;
    background-color: transparent;

    &:hover {
      background-color: #00000022;
    }
  }
}
