@use "variables";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$light;
  font-family: "Josefin Sans", cursive;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

button {
  font-family: "Josefin Sans", cursive;
  border: none;
  background-color: variables.$medium;
  border-radius: 0.2em;
  padding: 0.3em 0.6em;
  cursor: pointer;

  &:hover {
    background-color: #00000022 !important;
  }

  &:active {
    background-color: #00000033 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  transition: 0.2s;
}
